@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
    
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bgNav{
      background: linear-gradient(90deg, rgba(5, 15, 3, 1) 0%, rgba(12, 106, 60, 1) 49%, rgba(3, 15, 12, 1) 100%);
}

nav ul li  {
    text-decoration: none;
    transition: color 1s;
    position: relative;
}

nav ul li ::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease;
}

nav ul li :hover::before {
    width: 100%;
}

nav ul li :hover::after {
    width: 0%;}

.cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='31' height='37' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>⚽</text></svg>") 16 0,
            auto;
}


.pozadieBani{
    opacity: 0.25;
    display: flex;
    margin: 0px auto;
     transition: transform 0.5s, opacity 2.5s;
    }


.pozadieBani:hover {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s, opacity 2.5s;
}

.Martincoko{ 
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-image: linear-gradient(90deg, rgba(5, 15, 3, 1) 0%, rgba(12, 106, 60, 1) 49%, rgba(3, 15, 12, 1) 100%);
       
            background-size: cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.footer{
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(117, 9, 9, 1) 29%, rgba(121, 9, 9, 1) 68%, rgba(0, 0, 0, 1) 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

.footer:hover  {
    transition: border-bottom 0.25s;
    border-bottom: 1px solid rgba(121, 9, 9, 1);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='31' height='37' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>⚽</text></svg>") 16 0,
            auto;
    
}



.box{
    padding: 40px;
    background: black;
    text-align: center;
}
.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;   
}
.box-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box input[type="text"] , .box input[type="email"] , textarea{
    border: 0;
    background-color:black;
    display: block;
    resize: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 10px 15px;
    width: 250px;
    color: white;
    border-radius: 24px;
    outline: none;
    transition: 0.25s;
}

@media only screen and (max-width: 768px) {
.box input[type="text"]:focus, .box input[type="email"]:focus, textarea:focus{
  width: 250px;
  border-color: green;
  transition:  0.25s;
}
}

@media only screen and (min-width: 769px) {
.box input[type="text"]:focus, .box input[type="email"]:focus, textarea:focus{
  width: 270px;
  border-color: green;
  transition:  0.25s;
}
}
.box button[type="submit"]{
    background: none ;
    display: block;
    margin: 0px auto;
    text-align: center;
    border: 2px solid white;
    width: 200px;
    padding: 14px 40px;
    outline: none;
    color: white;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='31' height='37' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>⚽</text></svg>") 16 0,
            auto;
    border-radius: 24px;
    transition: 0.5s;
}
.box button[type="submit"]:hover{
    background: green;
    transition: 0.5s;
}



.green {
    width: 200px;
    filter: hue-rotate(180deg);
    border-radius: 50%;
    display: flex;
    animation: rotate 7s alternate infinite linear;
}


.VAJO{
    position: relative;
    font-family: FLucida Handwriting ,Brush Script,'Times New Roman', Times, serif;
    background-image: url(/Lightning12.gif);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: lietanie 3s alternate infinite linear;
}

@keyframes lietanie {
    0% {
        transform: translateY(0px);
    }
    100%{
        transform: translate(-15px);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
transform: rotate(-90deg);
    }
    50%{
transform: rotate(-180deg);
    }
    75%{
transform: rotate(-270deg);
    }
    100% {
transform: rotate(-360deg);
    }
}

.buttonGradient:hover{
   background: linear-gradient(90deg, rgba(5, 15, 3, 1) 0%, rgba(12, 106, 60, 1) 49%, rgba(3, 15, 12, 1) 100%);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='31' height='37' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>⚽</text></svg>") 16 0,
            auto;
}



.pt{
    opacity: 0;
    transition: opacity 2s;
}

@media only screen and (min-width: 1281px) {
  .imgFCBani:hover ~ .pt {
  opacity: 1;
  transition: opacity 2s;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='31' height='37' viewport='0 0 100 100' style='fill:black;font-size:19px;'><text y='50%'>⚽</text></svg>") 16 0,
            auto;
}
}




/*slider*/

.slideshow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.dots {
  position: absolute;
  bottom: -50px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin:  5px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: rgba(12, 106, 60, 1);
}
